.content__heading4 {
    position: absolute;
    left: 34px;
    top: 120px;
}

.content__class2 {
    width: 20rem;
    margin-left: 45px;
}

.content__details1 {
    margin: 50px auto;
    width: 320px;
    text-align: center;
}