
h2 {
    font-size: 5rem;
}

p {
    font-family: "Philosopher", "Helvetica";
}

.content {
    padding: 2rem;
    transition: 0.3s all ease;
  }
  .shift {
    margin-left: 60px;
  }

.content__class {
    width: 60vw;
    float: right;
    
}

.content__class1 {
    width: 60vw;
    margin-left: 10px;
    margin-top: 25%;
}

.content__heading1 {
    position: absolute;
    margin-top: 9.5vh;
    font-size: 7rem;

}

.content__heading2 {
    position: absolute;
    margin-left: 33vw;
    margin-top: -28vh;
    font-size: 5rem;
}

.content__heading3 {
    position: absolute;
    margin-left: 49vw;
    margin-top: -15.0vh;
    font-size: 7rem;
}

.content__details {
    font-size: 1.4rem;
    width: 70%;
    margin: 60px auto 0px auto;

}
